body {
  background-color: #f0f0f0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

p{
  margin: 0;
}

video{
  width: 100%;
  height: auto;
}

img{
  float: left;
  margin-right: 25px;
}

.container{
  margin-top: 20px;
}

.descArea{
  background-color: #fff;
  box-shadow: 0 0 3px #c8c8c8;
  padding: 15px;
  box-sizing: border-box;
}

.videoArea{
  position: relative;
}

.box1{
  background-color: rgba(40, 169, 220, 0.3);
  width: 20%;
  height: 35%;
  position: absolute;
  top: 18%;
  left: 45%;
  cursor: pointer;
}

.box2{
  background-color: rgba(207, 50, 53, 0.3);
  width: 10%;
  height: 17%;
  position: absolute;
  top: 0%;
  left: 0%;
  cursor: pointer;
}

.lightbox{
  display: none;
}

.longBtns{
  display: block;
}
